#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttonStyle {
  padding: 10px 20px;
  margin: 0 10px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signOutStyle {
  color: red;
  background-color: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.navBarStyle {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navButtonStyle {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
